	/* 协议样式 pjk */
	.protocal-content {padding: 26px 24px; background: #fff; font-style: 'Microsoft YaHei'; font-size: 12px;}
	.protocal-content h2 {}
	.protocal-content p {margin: 20px 0; line-height: 20px; text-indent: 26px;}