	/* 银行账单 pjk */
	.yinhang-phone {float: left; height: 38px; line-height: 38px;}
	.yinhang-title {margin-left: 20px; margin-bottom: 38px; padding-left: 10px; border-left: 3px solid #dcdcdc; font-size: 16px;}